.wrapper {
  background-color: black;
  min-height: 100vh;
  transition: 0.5s;
}
.homeWrapper {
  display: flex;
}
.center {
  flex: 1;
}
.main {
  display: flex;
  justify-content: center;
  flex: 1;
}
.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 70vh;
}
